.add-genre-container {
  text-align: center;
}

.add-genre-form input {
  padding: 10px;
  margin-right: 10px;
}

.add-genre-form button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.add-genre-form button:hover {
  background-color: #218838;
}
